body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calendar {
    height: 500px;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 50px;
    background: rgb(131, 58, 180);
    background: linear-gradient(158deg, rgba(131, 58, 180, 1) 0%, rgba(194, 163, 223, 1) 50%, rgba(242, 215, 177, 1) 100%);
}

.month{
    width: 200px;
    height: 200px;
    background-color: #a7e2e5;
    box-shadow: 5px 5px 10px 2px #222;
    border-radius: 10px;
    transition: 0.5s;
}

.month:hover{
    width: 210px;
    height: 210px;
    transition: 0.5s;
}

p{
    padding-left: 20px;
    font-size: 12px;
}

h3{
    padding-left: 20px;
}