@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header>svg{
    margin-right: 60px;
}

nav ul{
    display: flex;
    gap: 60px;
    margin-top: 56px;
    margin-bottom: 55px;
}

nav>ul>li{
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

/*-----------------------MAIN-------------------------*/

main{
    background: #FBF6F3;
    height: 90vh;
}

main section{
    display: flex;
    justify-content: center;
    align-items: center;
}

section img{
    width: 581.019px;
    height: 652.972px;
    margin-right: 46px;
}

section h2{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 400;
}

.second{
    margin-bottom: 37px;
}

.sum{
    color: #AD0306;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 37px;
}

main>section>section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
}

section>ul{
    display: flex;
    gap: 27px;
    margin-bottom: 48px;
}

section>ul>li {
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

a{
    text-decoration: none;
}

main>section>section>p{
    -webkit-text-stroke-color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
