@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-block{
    height: 100vh;
    background-image: url("img/backimg.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 1060px;
    height: 390px;
    display: flex;
    background: #FAF9F7;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.text{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 44px 0;
}

h3{
    color: #000;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: KoHo, sans-serif;
    font-size: 45px;
    font-weight: 400;
}

.text p{
    color: #000;
    font-family: KoHo, sans-serif;
    font-size: 25px;
    font-weight: 400;
}

button{
    width: 409px;
    height: 76px;
    border-radius: 5px;
    border: 1px solid rgba(156, 152, 152, 0.10);
    background: rgba(217, 217, 217, 0.60);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: #000;
    font-family: KoHo,sans-serif;
    font-size: 30px;
    font-weight: 400;
}