@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------NAV----------------------*/

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    padding: 0 8px 0 8px;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 35px;
}

li>a{
    text-decoration: none;
    color: #1D1D1F;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px; /* 135.45% */
    letter-spacing: -0.12px;
}

/*------------------HEADER-----------------*/

header{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 108px;
    gap: 40px;
    background: rgba(245, 245, 247, 0.60);
    backdrop-filter: blur(10px);
}


header>div>a{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #1D1D1F;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px; /* 135.45% */
    letter-spacing: -0.12px;
    animation: head 0.3s ease-out;
}

@keyframes head {

    0%{
        transform: translateX(300px);
    }

    100%{
        transform: translateX(0px);
    }
}


.homePod{
    margin-top: 16px;
}

a>span:hover{
    color: #2e2eff;
}

/*-------------------SECTION---------------*/

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #F5F5F7;
}


img{
    width: 761px;
    height: 432px;
    margin: 78px 340px 68px 340px;
    animation: block 3s ease-in-out;
}

@keyframes block {
    0%{
        opacity: 0;

    }

    80%{
        opacity: 0;
        scale: 1.2;
        transform: translateY(-30px);
    }

    100%{
        opacity: 1;
    }
}

h1{
    width: 1039px;
    height: 67px;
    color: #1D1D1F;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 96px;
    font-weight: 700;
    line-height: 96px; /* 100% */
    letter-spacing: -1.44px;
    margin-bottom: 52px;
}

p{
    width: 976px;
    height: 112px;
    color: #86868B;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 28px; /* 129.855% */
    letter-spacing: 0.216px;
    margin-bottom: 50px;
}

section>div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    animation: text 3s linear;
}

@keyframes text {

    0%{
        opacity: 0;

    }

    80%{
        opacity: 0;
        transform: translateY(80px);
    }

    100%{
        opacity: 1;

    }

}